django
djangorestframework
djangorestframework-jwt
django-rest-swagger
psycopg2
langdetect
django-extensions
factory_boy
google-api-python-client
python-dotenv
pyyaml
ipython
ipython[kernel]
ipdb
Werkzeug
requests
