django
djangorestframework
djangorestframework-jwt
django-rest-swagger
django[bcrypt]
bcrypt
django-extensions
psycopg2
langdetect
factory_boy
google-api-python-client
python-dotenv
pyyaml
ipython
ipdb
Werkzeug
requests
requests_jwt
PyJWT


