{# static/js/app.js #}
<script type="text/javascript">
'use strict';

// TODO: refactor and dry up and move back to a seperate js file
// FIXME: use $resource instead of $http for REST calls
/* https://docs.angularjs.org/api/ngResource/service/$resource */

angular

  .module('translatorApp', ['ui.router', 'ngMessages', 'ngResource', 'ngCookies'])

  .constant('API_ENDPOINT', '/api/v1')
  .constant('JWT_TOKEN', 'jW10k3n')

  .config(['$httpProvider', function ($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
  }])
  .config(function($stateProvider, $urlRouterProvider){

    $urlRouterProvider.otherwise('/');

    $stateProvider
      .state('results', {
        url: '/translations',
        templateUrl: 'templates/results.html',
        controller: 'ResultsController',
      })
      .state('input', {
        url: '/',
        templateUrl: 'templates/input.html',
        controller: 'InputController',
      })
      // FIXME: if the user is logged in don't navigate to this state
      .state('login', {
        url: '/login',
        templateUrl: 'templates/login.html',
        controller: 'LoginController',
      })
      .state('signup', {
        url: '/signup',
        templateUrl: 'templates/signup.html',
        controller: 'SignupController',
      })
  })

  .controller('LoginController', ['$scope', 'AuthenticationService', function($scope, AuthenticationService) {
    $scope.user = {};
    $scope.errorMessage = '';
    $scope.login = function() {
      AuthenticationService
        .login($scope.user.name, $scope.user.password)
        .then(
          function(response) {
             $scope.errorMessage = '';
             if (response.status !==  200 ) {
              $scope.errorMessage = response.data;
              return;
            }
            if (response.config.url.indexOf('{{ api_url }}') === 0 && response.data.token) {
              console.log('Token found');
              AuthenticationService.storeToken(response.data.token);
             }
          },
          function(error) {

            $scope.errorMessage = error.data;
          }
        );
    };
  }])
  .controller('InputController', ['$scope', 'TranslationService', function($scope, TranslationService) {

    $scope.sourceText = '';
    $scope.status = '';
    $scope.errorMessage = '';

    $scope.sendToServer = function() {
      // TODO: make sure its validated
      $scope.errorMessage = '';
      $scope.status = 'Submitting ...';
      TranslationService
        .translate($scope.sourceText)
        .then(
          // success
          function(response) {
            if (!response.success) {
              $scope.errorMessage = response.data.detail;
              return;
            }
            $scope.sourceText = '';
            $scope.status = response;
          },
          // error
          function(error) {
            $scope.sourceText = '';
            $scope.errorMessage = error.data.detail;
            $scope.status = error;
          }
        );
    };
  }])
  .controller('ResultsController', ['$scope', 'TranslationService', 'AuthenticationService', function($scope, TranslationService, AuthenticationService) {
    $scope.queries = [];
    $scope.errorMessage = '';
    $scope.$on('$stateChangeSuccess', function() {
      TranslationService
        .list()
        .then(
          function(response) {
            if (response.status !==  200 ) {
              $scope.errorMessage = response.data.detail;
              return;
            }
            $scope.queries = response.data;
          },
          function(error) {
            $scope.errorMessage = error;
          }
        );
    });
  }])
  .controller('SignupController', ['$scope', 'UserService', function($scope, UserService) {
    $scope.user = {};
    $scope.register = function() {
      UserService
      .register($scope.user)
      .then(
        function(response) {
            if (response.status !==  200 ) {
              $scope.errorMessage = response.data.detail;
              return;
            }
            if (response.config.url.indexOf('{{ api_url }}') === 0 && response.data.token) {
              console.log('Token found');
              AuthenticationService.storeToken(response.data.token);
             }
            $scope.queries = response.data;
          },
          function(error) {
            $scope.errorMessage = error;
          }
      );
    }
  }])

  .factory('UserService', ['$http', 'API_ENDPOINT', function($http, API_ENDPOINT) {
    return {
      register: function(user) {
        return $http
          .post(API_ENDPOINT + '/users/', {
            data: {
              username: user.name,
              // email: user.email,
              password: user.password,
            }
          });
        }
    };
  }])
  .factory('TranslationService', ['$http', 'API_ENDPOINT', 'AuthenticationService', function($http, API_ENDPOINT, AuthenticationService) {
    return {
      translate: function(source) {
        // Todo: try if authenticated else redirect
        var headers = {};
        var token = AuthenticationService.getToken();
        if (token) {
          console.log('Token found');
          headers.Authorization = $http.defaults.headers.common['Authorization'] + 'Token ' + token;
        }

        return $http
        // todo: authenticate via interceptr request
          .post(API_ENDPOINT + '/queries/', {
            headers: headers,
            data: {
              lang: '',
              translation: '',
              source: source,
            }
          });
      },
       // TODO: allow pagination
      list: function() {
        return $http.get(API_ENDPOINT + '/queries');
      }
    }
  }])
  .factory('AuthenticationService', ['$http', '$window', '$cookies', 'JWT_TOKEN', 'API_ENDPOINT', function($http, $window, $cookies, JWT_TOKEN, API_ENDPOINT) {
    return {
      login: function(username, password) {
        return $http
          .post(API_ENDPOINT + '/authorize/', {
            username: username,
            password: password,
          });
      },
      logout: function(username, password) {
        $window.localStorage.removeItem(JWT_TOKEN);
      },
      decode: function(token) {
        var parts = token.split('.');
        var header = parts[0];
        var payload = parts[1];
        var signature = parts[2];

        var payload64 = payload.replace('-', '+').replace('_', '/');
        var info = {};
        try {
           info =  JSON.parse($window.atob(payload64));
        } catch(e) {
          info = e;
          console.log(e);
        } finally {
          return info;
        }
      },
      storeToken: function(token) {
        $window.localStorage[JWT_TOKEN] = token;
      },
      getToken: function() {
        return $window.localStorage[JWT_TOKEN];
      },
      authenticated: function() {
        var token = self.getToken();
        if (token) {
          var params = self.decode(token);
          return Math.round(new Date().getTime() / 1000) <= params.exp;
        }
        return false;
      }
    };
  }])

  // TODO: Check credentials
  // .run(function($http) {

  // });
</script>
