{# templates/index.html #}
<!DOCTYPE html>
<html lang="en" ng-app="translator">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ app_name }}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body ng-cloak>
  {%  include "toolbar.html" %}
  <ui-view>Loading ...</ui-view>
  {% include "scripts.html" %}
  {% include "results.html" %}
  {% include "input.html" %}
  {% include "login.html" %}
  {% include "signup.html" %}
</body>
</html>
