 {# input.html #}
 {# TODO: make into a pop up form #}
  <script id="templates/input.html" type="text/ng-template">
    <form name="translationForm" class="pure-form pure-form-aligned">
      {% csrf_token %}
      <fieldset class="pure-group">
        <textarea
          name="submission"
          ng-model="sourceText"
          class="pure-input-1-2"
          placeholder="Que voulez-vous traduire?"
          ng-minlength=10
          rows="5"
          required></textarea>
        <span ng-show="errorMessage">
          {% verbatim %}{{ errorMessage }}{% endverbatim %}
        </span>
      </fieldset>
      <button
        class="pure-button pure-input-1-2 pure-button-primary"
        ng-click="sendToServer()"
        ng-disabled="translationForm.$invalid"
        type="submit">Submit</button>
        <div
          ng-messages="translationForm.submission.$error"
          ng-show="translationForm.submission.$touched">
          <div ng-message="required">This cannot be blank</div>
          <div ng-message="minlength">Query is too short</div>
        </div>
    </form>
    {# TODO: show translated data, link to #}
  </script>
