{# templates/login.html #}
  <script type="text/ng-template" id="templates/login.html">
    <form name="loginForm">
      {% csrf_token %}
      <div class="row">
        <label for="usernameInput" />
        <input class="u-full-width" type="text" placeholder="Username or email" id="username" ng-model="user.name" required/>
        <span ng-show="error.username">{$ "Invalid Username" $}</span>
      </div>
      <div class="row">
        <label for="password" />
        <input class="u-full-width" type="password" placeholder="Password" ng-model="user.password" id="password" required/>
        <span ng-show="error.password">{$ "Wrong Password" $}</span>
      </div>
      <div class="row u-pull-right">
        {# TODO: show in the ui that this is disabled #}
        <button class="button-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Submit</button>
      </div>
      <div ng-messages="loginForm.submission.$error" ng-show="loginForm.submission.$touched">
        <div ng-message="required">Input cannot be blank</div>
      </div>
    </form>
    <pre>{$ user $}</pre>
  </script>
