{# templates/login.html #}
  <script type="text/ng-template" id="templates/login.html">
    <form name="loginForm" class="pure-form pure-form-aligned">
      <fieldset>
        {% csrf_token %}

        <div class="pure-control-group">
          <label for="usernameInput">Username</label>
          <input
            type="text"
            class="pure-input-1-2"
            placeholder="Username or email"
            ng-model="user.username"
            required/>
        </div>
         <span ng-show="errors">{% verbatim %}{{ errors.username }}{% endverbatim %}</span>

        <div class="pure-control-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="pure-input-1-2"
            placeholder="Password"
            ng-model="user.password"
            required />
          <span ng-show="errors.non_field_errors">{% verbatim %}{{ errors.non_field_errors[0] }}{% endverbatim %}</span>
        </div>

        <div class="pure-controls">
          <button
            class="pure-button pure-button-primary"
            ng-click="login()"
            ng-disabled="loginForm.$invalid">Login</button>
        </div>

        <div ng-messages="loginForm.submission.$error" ng-show="loginForm.submission.$touched">
          <div ng-message="required">Input cannot be blank</div>
        </div>
      </fieldset>
    </form>
  </script>
