{# templates/login.html #}
  <script type="text/ng-template" id="templates/login.html">
    <md-subheader class="md-primary">Login</md-subheader>
    <form name="loginForm">
      {% csrf_token %}
      <!-- <md-input-container class="md-block"> -->
        <label for="usernameInput" />
        <input rows="1" type="text" placeholder="Username or email" id="username" ng-model="user.username" required/>
     <!--  </md-input-container>
      <md-input-container class="md-block"> -->
        <label for="password" />
        <input type="password" placeholder="Password" ng-model="user.password" id="password" required rows="1"/>
        <span ng-show="errorMessage">{% verbatim %}{{ errorMessage }}{% endverbatim %}</span>
      <!-- </md-input-container> -->
      <md-button class="md-raised md-primary md-hue-1" ng-click="login()" ng-disabled="loginForm.$invalid">Login</md-button>
      <div ng-messages="loginForm.submission.$error" ng-show="loginForm.submission.$touched" multiple role="alert" md-auto-hide="false">
        <div ng-message="required">Input cannot be blank</div>
      </div>
    </form>
    <pre>{% verbatim %}{{ user | json }}{% endverbatim %}</pre>
  </script>
