{# templates/signup.html #}
  <script type="text/ng-template" id="templates/signup.html">
    <md-subheader class="md-primary">Sign Up</md-subheader>
    <form name="signupForm">
      {% csrf_token %}
      <div layout="row">
        <!-- <md-input-container class="md-block"> -->
          <label for="usernameInput" />
          <input type="text" placeholder="Username" id="username" ng-model="user.username" required/>
          <span ng-show="error.username">{% verbatim %}{{ "Invalid Username" }}{% endverbatim %}</span>
          <!-- </md-input-container> -->
      </div>
      <div layout="row">
        <!-- <md-input-container class="md-block"> -->
          <label for="emailInput" />
          <input type="text" placeholder="Email" id="email" ng-model="user.email" required/>
          <span ng-show="errorMessage.email">{% verbatim %}{{ "Invalid Email" }}{% endverbatim %}</span>
        <!-- </md-input-container> -->
      </div>
      <div layout="row">
        <!-- <md-input-container class="md-block"> -->
          <label for="password" />
          <input type="password" placeholder="Password" ng-model="user.password" id="password" required/>
          <span ng-show="errorMessage.password">{% verbatim %}{{ "Wrong Password" }}{% endverbatim %}</span>
        <!-- </md-input-container> -->
      </div>
      <div layout="row">
        <!-- <md-input-container class="md-block"> -->
          <label for="confirmPassword" />
          <input type="password" placeholder="Confirm Password" id="password" required/>
          <span ng-show="errorMessage.password">{% verbatim %}{{ "Password Does not match" }}{% endverbatim %}</span>
        <!-- </md-input-container> -->
      </div>
      <div layout="row u-pull-right">
        <md-button class="md-raised md-primary md-hue-1" ng-click="register()" ng-disabled="signupForm.$invalid">Signup</md-button>
      </div>
      <div ng-messages="signupForm.submission.$error" ng-show="signupForm.submission.$touched" multiple md-auto-hide="false">
        <div ng-message="required">Input cannot be blank</div>
      </div>
    </form>
    <pre>{% verbatim %}{{ user | json }}{% endverbatim %}</pre>
  </script>
