{# templates/signup.html #}
  <script type="text/ng-template" id="templates/signup.html">
    <form name="signupForm">
      {% csrf_token %}
      <div class="row">
        <label for="usernameInput" />
        <input class="u-full-width" type="text" placeholder="Username" id="username" ng-model="user.username" required/>
        <span ng-show="error.username">{% verbatim %}{{ "Invalid Username" }}{% endverbatim %}</span>
      </div>
      <div class="row">
        <label for="emailInput" />
        <input class="u-full-width" type="text" placeholder="Email" id="email" ng-model="user.email" required/>
        <span ng-show="errorMessage.email">{% verbatim %}{{ "Invalid Email" }}{% endverbatim %}</span>
      </div>
      <div class="row">
        <label for="password" />
        <input class="u-full-width" type="password" placeholder="Password" ng-model="user.password" id="password" required/>
        <span ng-show="errorMessage.password">{% verbatim %}{{ "Wrong Password" }}{% endverbatim %}</span>
      </div>
      <div class="row">
        <label for="confirmPassword" />
        <input class="u-full-width" type="password" placeholder="Confirm Password" id="password" required/>
        <span ng-show="errorMessage.password">{% verbatim %}{{ "Password Does not match" }}{% endverbatim %}</span>
      </div>
      <div class="row u-pull-right">
        {# TODO: show in the ui that this is disabled #}
        <button class="button-primary" ng-click="register()" ng-disabled="signupForm.$invalid">Signup</button>
      </div>
      <div ng-messages="signupForm.submission.$error" ng-show="signupForm.submission.$touched">
        <div ng-message="required">Input cannot be blank</div>
      </div>
    </form>
    <pre>{% verbatim %}{{ user | json }}{% endverbatim %}</pre>
  </script>
