<div class="pure-menu pure-menu-horizontal" ng-cloak ng-controller="NavController">
  <a href="#" class="pure-menu-heading pure-menu-link">
    {{ app_name }}
  </a>
  {# FIXME: small screens #}
  <ul class="pure-menu-list" ng-repeat="route in routes">
    <li class="pure-menu-item">
      <a
        ui-sref="{% verbatim %}{{ route.state }}{% endverbatim %}"
        class="pure-menu-link">{% verbatim %}{{ route.title }}{% endverbatim %}</a>
    </li>
  </ul>

  <div ng-cloak >Welcome, {% verbatim %}
                {{ username !== '' ? username : "You're Not Logged In" }}
                {% endverbatim %}
  </div>
</div>
